.site-nav {
    margin: 0 0 10px;
}

.google-iframe-embeds {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin: 0 0 20px;
}

.google-iframe-embeds iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}